.container{
    margin: 0;
    width: 100%;
}
.video-name{
    display: block;
    position: relative;
    margin: 30px 100px 0 30px;
}
.video-name p{
    font-family: "Lucinda Grande", sans-serif;
    font-size: 35px;
    padding-left: 200px;
    display: inline-block;
    margin: 0;
}
#collect{
    background-color: #FF4B2B;
    border: none;
    position: relative;
    display: inline-block;
    top: -7px;
	border-radius: 8px;
    height: 40px;
	padding: 5px 10px 5px 10px;
    font-size: 17px;
    color: #DDDDDD;
	margin: 0 0 0 100px;
	width: auto;
}
#collect:hover{
    color: #0091ea;
}

.video{
    display: block;
    margin: 10px 0 0 0;
    position: relative;
}
.video video{
    text-align: center;
    padding: 5px;
    -webkit-box-shadow: 0 0 10px darkgray;
    width : 768px;
    height: 432px;
}
.video-summary{
    display: block;
    margin: 10px 0 0 0;
    position: relative;
    width: 756px;
}
.video-summary p{
    padding: 10px 5px 10px 5px;
    border: 2px solid #6C6E85;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px darkgray;
    font-family: 'Candara', 'serif';
    font-size: large;
}
.video-star{
    display: block;
    padding: 10px 5px 10px 5px;
    border: 3px solid #6C6E85;
    margin: 10px 0 0 0;
    position: relative;
    -webkit-box-shadow: 0 0 10px darkgray;
    width: 740px;
    height: 50px;
}
.video-star a{
    position: absolute;
    top: 2px;
    width: 280px;
    margin: 20px 0 0 5px;
    font-family: 'Microsoft YaHei UI', 'serif';
    font-size: larger;
    text-align: left;
}
.video-star a#pls_give{
    top: 1px;
    position: initial;
    width: 80px;
}
.video-star a#has_give{
    top: 1px;
    left: 400px;
    position: absolute;
    width: 200px;
}
#form{
    float: right;
    width: 400px;
    margin: 0;
}
.video-star input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 3px 8px;
	width: 100px;
}
.video-star button {
	background-color: #FF4B2B;
	border-radius: 8px;
	padding: 5px 10px 5px 10px;
    font-size: 17px;
    color: #DDDDDD;
	margin: 7px 0 0 10px;
	width: auto;
}
/*******************************************/
/*评论区*/
.video-comment{
    display: block;
    padding: 10px 5px 10px 5px;
    border: 2px solid #FF4B2B;
    border-radius: 10px;
    margin: 10px 0 50px 0;
    position: relative;
    -webkit-box-shadow: 0 0 10px darkgray;
    width: 740px;
    height: 800px;
}
#give-comment{
    display: block;
    position: absolute;
    top: 630px;
    left: 50px;
    border: 2px solid #333333;
    border-radius: 3px;
    height: 170px;
    width: 650px;
    -webkit-box-shadow: 0 0 10px darkgray;
}
#give-comment button{
    font-size: 17px;
    border-radius: 3px;
    border: 1px;
    background-color: #FF4B2B;
    color: #FFFFFF;
}
#input_comment{
    font-family: "Microsoft YaHei UI", serif;
    font-size: 16px;
    margin: 10px;
    width: 500px;
    border: 2px solid#0091ea;
    border-radius: 5px;
    height: 100px;
}
#all_comments_ul{
    padding: 0;
    border: 1px solid #000000;
    width: 93%;
    height: 550px;
    margin-left: 30px;
    list-style: none;
    overflow: auto;
    -webkit-box-shadow: 0 0 10px darkgray;
}
#all_comments_ul::-webkit-scrollbar{
    width: 5px;
}
#all_comments_ul::-webkit-scrollbar-thumb{
    background-color: #0091ea;
    border-radius: 5px;
}
.comment-li{
    display: block;
    border-bottom: 1px solid #67ACE4;
}
.im_name{
    display: inline-block;
    width: 100px;
    border-right: 2px solid #a24aea;
    height: 100%;
}
.comment-li img{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.p_comment{
    display: inline-block;
    height: 100%;
}
.p_comment a{
    margin: 0;
    display: inline-block;
    padding: 0;
    width: 500px;
}
.del_btn{
    display: none;
    border-radius: 3px;
    border: none;
    background-color: #FF416C;
    color: #FFFFFF;
    position: relative;
    right: 5px;
    bottom: 5px;
}
.del_btn:hover{
    color: #333333;
}

