<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=utf-8" />
<title>出错了=.=</title>

<link href="../static/error.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="container">
	<img class="png" src="../static/button_images/404.png" />
	<img class="png msg" src="../static/button_images/404_msg.png" />
	<p><a href="{{ url_for('home.home') }}"><img class="png" src="../static/button_images/404_to_index.png" /></a> </p>
</div>

<div id="cloud" class="png"></div>


</body>
</html>